@media (max-width: 1180px) {
    .subs__container {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }
    .sub__discount p {
        font-size: 45px;
    }
}

@media (max-width: 992px) {
    .first-section {
        margin-bottom: 80px;
    }

    .second-section {
        margin-bottom: 80px;
    }

    .fs__container {
        flex-direction: column;
    }

    .fs__infoblock {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .fs__discount {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    br {
        display: none;
    }

    .sub__discount p {
        font-size: 35px;
    }
}

@media (max-width: 550px) {
    .sub__card {
        padding: 30px 45px;
    }

    .sub__time {
        margin-bottom: 30px;
    }

    .sub__price {
        font-size: 45px;
    }

    .sub__price::before {
        width: fit-content;
        font-size: 24px;
        left: -70px;
    }

    .sub__price::after {
        width: 58px;
        height: 3px;
        top: 35%;
        left: -70px;
    }

    .sub__pum {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .sub__tick {
        margin-top: 10px;
    }

    .sub__discount {
        width: 100px;
        height: 100px;
        right: -20px;
        top: -40px;
    }

    .sub__discount p {
        font-size: 20px;
    }

    .sub__feature {
        font-size: 14px;
    }

    .sub__btn {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media (max-width: 512px) {
    .header__btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .fs__title, .fs__title span {
        font-size: 32px;
        line-height: 1.5;
    }

    .fs__companies {
        flex-wrap: wrap;
    }

    .fs__btn {
        padding: 8px 20px;
    }
}

@media (max-width:400px) {
    .sub__card {
        padding: 20px 30px;
    }

    .sub__price {
        font-size: 30px;
    }

    .sub__time {
        font-size: 25px;
    }

    .sub__price::before {
        font-size: 16px;
        left: -50px;
    }

    .sub__price::after {
        width: 40px;
        left: -50px;
    }

    .sub__pum {
        font-size: 14px;
        margin-bottom: 20px;
    }
}