@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap');

@font-face {
    font-family: 'Design';
    font-weight: 400;
    src: url('../assets/fonts/FontsFree-Net-Design.ttf');
}

/* ----- Main ----- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: #100C16;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 600;
    font-size: 39px;
    line-height: 1.33;
    text-align: center;
    padding: 0 15px;
}

.title span {
    font-style: italic;
}

/* ----- End Main ----- */

/* ––––– Header ----- */

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 17px auto 60px;
}

.header__btn {
    background-color: transparent;
    outline: none;
    border: 1px solid #8276FF;
    border-radius: 131px;
    padding: 15px 50px;
    font-size: 18px;
    cursor: pointer;
    line-height: 1.27;
    -webkit-transition: border-color 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.header__btn:hover {
    -webkit-box-shadow: 0 0 5px #4b00ff,
        0 0 20px rgb(75 0 255 / 0.8),
        0 0 35px rgb(75 0 255 / 0.7),
        0 0 50px rgb(75 0 255 / 0.6);
            box-shadow: 0 0 5px #4b00ff,
        0 0 20px rgb(75 0 255 / 0.8),
        0 0 35px rgb(75 0 255 / 0.7),
        0 0 50px rgb(75 0 255 / 0.6);
    border-color: #fff;
}



/* ----- End Header ----- */


/* ----- First Section ----- */

.first-section {
    margin-bottom: 166px;
}

.fs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.fs__container>* {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25em;
            flex: 1 1 25em;
}

.fs__infoblock {
    margin-top: 100px;
}

.fs__title {
    font-weight: bold;
    font-size: 49px;
    line-height: 1.41;
}

.fs__title span {
    font-family: 'Design';
    font-weight: 400;
    font-size: 49px;
    line-height: 69px;
    color: #FFC759;
}

.fs__slogan {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 40px;
}

.fs__btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid #8276FF;
    background: #8276FF;
    border-radius: 31.0938px;
    cursor: pointer;
    margin-bottom: 20px;
}

.fs__ft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px;
}

.fs__ft_text {
    font-size: 15px;
    line-height: 19px;
    margin-left: 17px;
}

.fs__ft_text span {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin: 0 10px;
}

.fs__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

.fs__review_text {
    font-size: 16px;
    line-height: 20px;
    margin-left: 8px;
}

.fs__review_text span {
    font-weight: 600;
}

.fs__companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;
}

.fs__discount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fs__discount img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: middle;
}

/* ----- End First Section ----- */



/* ----- Second Section ----- */
.second-section {
    margin-bottom: 200px;
}

.subs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: calc(100% - 2 * 545px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sub__title {
    margin-bottom: 100px;
}

.sub__card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(141, 159, 244, 0.3);
    -webkit-backdrop-filter: blur(5.5px);
            backdrop-filter: blur(5.5px);
    border-radius: 10px;
    max-width: 520px;
    width: 100%;
    padding: 50px 65px;
    text-align: center;
    position: relative;
}

.sub__time {
    font-weight: 700;
    font-size: 39px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.86);
    margin-bottom: 50px;
}

.sub__price {
    font-weight: 700;
    font-size: 80px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.sub__price::before {
    content: '$4.99';
    font-weight: 600;
    font-size: 31px;
    position: absolute;
    text-align: left;
    top: 10%;
    left: -80px;
}

.sub__price::after {
    content: '';
    width: 73px;
    height: 3px;
    position: absolute;
    top: 30%;
    left: -80px;
    -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
    border-radius: 2px;
    background-color: #F354B4;
}

.sub__pum {
    font-weight: 600;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.75);
}

.sub__tick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 175px;
    margin: 10px auto 0;
    gap: 17px;
    text-align: left;
}

.sub__tick:nth-child(1) {
    margin-top: 30px;
}

.sub__feature {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.22;
}

.sub__btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 40px;
    outline: none;
    border: 1px solid #8276FF;
    background-color: #8276FF;
    border-radius: 31.0938px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sub__discount {
    position: absolute;
    right: -40px;
    top: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 5px solid #f4a3f4;
    border-radius: 50%;
    -webkit-box-shadow:
        0 0px 10px 10px #6F2D5F,
        inset 0 0px 10px 10px #6F2D5F;
            box-shadow:
        0 0px 10px 10px #6F2D5F,
        inset 0 0px 10px 10px #6F2D5F;
    width: 170px;
    height: 170px;
}

.sub__discount p {
    font-family: 'Design';
    font-weight: 400;
    font-size: 50px;
}

.sub__dur {
    text-align: right;
    font-size: 14px;
    line-height: 24px;
}

.y_sub__price::before {
    content: '$4.09';
}

.sub__neon {
    position: absolute;
    -webkit-filter: blur(115px);
            filter: blur(115px);
    width: 200px;
    height: 200px;
}

.red_sub__neon {
    top: -50px;
    right: -40px;
    background: rgba(253, 119, 159, 0.1);
}

.blue_sub__neon {
    bottom: -50px;
    left: -40px;
    background: rgba(99, 133, 253, 0.1);
}

/* ----- End Second Section ----- */


/* ----- Third Section ----- */

.third-section {
    margin-bottom: 100px;
}

.swiper {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.swiper-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.swiper-slide {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.reward {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.customer__reward {
    z-index: 5;
}

/* ----- End Third Section */

/* ----- Fourth Section ----- */

.fourth-section {
    margin-bottom: 180px;
}

.feature__container {
    background: -o-linear-gradient(302.81deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    border-radius: 26px;
    padding: 73px 46px 130px 54px;
}

.fts__title {
    margin-bottom: 80px;
}

.fts__title span {
    color: #FFC759;
}

.feature__tabs {
    overflow: hidden;
}

.feature__tabs_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 37px;
}

.feature__tab_switch {
    width: calc(100% / 6);
    text-align: center;
    cursor: pointer;
    outline: none;
}

.feature__tab_switch.active .feature__tab_title {
    font-weight: 700;
}

.feature__tabs_indicator {
    width: 100%;
    height: 1.5px;
    background-color: #E7E9F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
}

.feature__tabs_indicator div {
    position: relative;
    width: calc(100% / 6);
    height: 5px;
    background: #fff;
    left: 0px;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.feature__tabs_body {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.feature__tabs_body>div {
    display: none;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: display 500ms ease-in-out 0ms,
        -webkit-transform 500ms ease-in-out 0ms;
    transition: display 500ms ease-in-out 0ms,
        -webkit-transform 500ms ease-in-out 0ms;
    -o-transition: display 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
    transition: display 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
    transition: display 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms,
        -webkit-transform 500ms ease-in-out 0ms;
}

.feature__tabs_body>div.active {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 0px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.feature__tab_title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 13px;
}

.feature__tab.active {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.feature__tab_info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.feature__tab_heading {
    font-weight: 600;
    font-size: 39px;
    line-height: 52px;
    margin-bottom: 30px;
}

.feature__tab_tick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
}

.feature__tab_info .feature__tab_tick:not(:last-child) {
    margin-bottom: 16px;
}

.feature__tab_tick p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.feature__tab_btn {
    background-color: #8276FF;
    border-radius: 31.0938px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 40px;
    margin-top: 40px;
    border: 1px solid #8276FF;
    outline: none;
    cursor: pointer;
}

.feature__tab_imageblock {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.feature__tab_image {
    max-width: 100%;
}

/* ----- End Fourth Section ----- */

/* ----- Fifth Section ----- */
.fifth-section {
    margin-bottom: 180px;
}

.companies__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
}

/* ----- End Fifth Section ----- */

/* ----- Footer ----- */
.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__info, .footer__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.footer__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.footer__img img {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.footer__sale {
    font-weight: 600;
    font-size: 49px;
    line-height: 1;
    margin-bottom: 30px;
}

.footer__btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 15px 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid #8276FF;
    background: #8276FF;
    border-radius: 31.0938px;
    cursor: pointer;
}

/* ----- End Footer ----- */